################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/udemy/.vs/udemy/v16/.suo
/udemy/udemy/bin/Debug
/udemy/udemy/obj/Debug
